@import url('https://fonts.googleapis.com/css?family=Ubuntu');

#ipUrna{
	text-align: center;
	background: #ccc;
	width: auto;
	border-bottom: 5px solid #000;
	padding: 8px;
	margin-left: 78%;
	font-size: 25px;	 
}
@media(min-width: 501px){
	.tela, #tela{
		float: left;
		margin-left: 26.3%;
	}
	table, .tela{
		float: left;
		margin-top: -43%;
		margin-left: 28%;
		width: 43%;
	}
}

@media(max-width: 500px){
	#topo, .tela{
		margin-top: 67%;
		float: right;
	}
	table{
		margin-top: -22%;
		margin-left: 28%;
	}
}

#cargo{
	font-family: 'Ubuntu', sans-serif;
}

p, .font-text{
	font-family: 'Ubuntu', sans-serif;
}

#tela{
	margin-left: 22.2%;
}

#ladoEsqTec{
	margin-right: 11.8%; 
	float: right;
	margin-top: -34.9%;
}

#topo{
	margin-top: -61%;
	margin-left: 84.5%;
	float: left;
}

#dig-1{
	cursor: pointer;
	margin-top: -34.1%;
	margin-right: 4.6%;
	float: right;
	background-image: url("http://www.tse.jus.br/hotsites/simulador2018/image/n1.jpg");
	background-repeat: no-repeat;
	width: 73px;
	height: 58px;
	border: 0;
	 
}
#dig-1,#dig-2,#dig-3,#dig-4,#dig-5,#dig-6,#dig-7,#dig-8,#dig-9,#dig-0,#branco,#corrige,#confirma:focus{
  outline-style: none;
}
#dig-2{
	cursor: pointer;
	margin-top: -34.1%;
	margin-right: -2.2%;
	float: right;
	background-image: url("http://www.tse.jus.br/hotsites/simulador2018/image/n2.jpg");
	background-repeat: no-repeat;
	width: 68px;
	height: 58px;
	border: 0;
}
#dig-3{
	cursor: pointer;
	margin-top: -34.1%;
	margin-right: -9.1%;
	float: right;
	background-image: url("http://www.tse.jus.br/hotsites/simulador2018/image/n3.jpg");
	background-repeat: no-repeat;
	width: 69px;
	height: 58px;
	border: 0;
}
#dig-4{
	cursor: pointer;
	margin-top: -28.3%;
	margin-right: 4.6%;
	float: right;
	background-image: url("http://www.tse.jus.br/hotsites/simulador2018/image/n4.jpg");
	background-repeat: no-repeat;
	width: 73px;
	height: 60px;
	border: 0;
}
#dig-5{
	cursor: pointer;
	margin-top: -28.3%;
	margin-right: -2.2%;
	float: right;
	background-image: url("http://www.tse.jus.br/hotsites/simulador2018/image/n5.jpg");
	background-repeat: no-repeat;
	width: 68px;
	height: 60px;
	border: 0px;
}
#dig-6{
	cursor: pointer;
	margin-top: -28.3%;
	margin-right: -9.1%;
	float: right;
	background-image: url("http://www.tse.jus.br/hotsites/simulador2018/image/n6.jpg");
	background-repeat: no-repeat;
	width: 69px;
	height: 60px;
	border: 0;
}
#dig-7{
	cursor: pointer;
	margin-top: -22.3%;
	margin-right: 4.6%;
	float: right;
	background-image: url("http://www.tse.jus.br/hotsites/simulador2018/image/n7.jpg");
	background-repeat: no-repeat;
	width: 73px;
	height: 58px;
	border: 0;
}

#dig-8{
	cursor: pointer;
	margin-top: -22.3%;
	margin-right: -2.2%;
	float: right;
	background-image: url("http://www.tse.jus.br/hotsites/simulador2018/image/n8.jpg");
	background-repeat: no-repeat;
	width: 68px;
	height: 58px;
	border: 0;
}

#dig-9{
	cursor: pointer;
	margin-top: -22.3%;
	margin-right: -9.1%;
	float: right;
	background-image: url("http://www.tse.jus.br/hotsites/simulador2018/image/n9.jpg");
	background-repeat: no-repeat;
	width: 69px;
	height: 58px;
	border: 0;
}

#dig-0{
	cursor: pointer;
	margin-top: -16.5%;
	margin-right: -3.5%;
	float: right;
	background-image: url("http://www.tse.jus.br/hotsites/simulador2018/image/n0.jpg");
	background-repeat: no-repeat;
	width: 80px;
	height: 51px;
	border: 0;
}

#ptabaixo7{
	margin-top: -17.2%;
	margin-right: 4.5%;
	float: right;
}

#ptabaixo9{
	margin-top: -17.2%;
	margin-right: -9.2%;
	float: right;
}

#ptaAcimaTopo{
	margin-top: -35%;
	margin-left: 88%;
	float: left;
	border-top: 9px solid #443f3c;
}

#branco{
	cursor: pointer;
	margin-top: -11.5%;
	margin-right: 6.2%;
	float: right;
	background-image: url("http://www.tse.jus.br/hotsites/simulador2018/image/branco.jpg");
	background-repeat: no-repeat;
	width: 90px;
	height: 59px;
	border: 0;
}

#corrige{
	cursor: pointer;
	margin-top: -11.5%;
	margin-right: -2.8%;
	float: right;
	background-image: url("http://www.tse.jus.br/hotsites/simulador2018/image/corrige.jpg");
	background-repeat: no-repeat;
	width: 90px;
	height: 59px;
	border: 0;
}

#confirma{
	cursor: pointer;
	margin-top: -13%;
	margin-right: -12%;
	float: right;
	background-image: url("http://www.tse.jus.br/hotsites/simulador2018/image/confirma.jpg");
	background-repeat: no-repeat;
	width: 94px;
	height: 70px;
	border: 0;
}

#ladoDirTec{
	margin-top: -34.7%;
	margin-right: -12.5%;
	float: right;
}

#faixaDir{
	margin-right: -17.5%;
	float: right;
	margin-top: -57.5%;
}

#abaixoTec{
	margin-top: -6%;
	margin-right: -17%;
	float: right;
}

.bannerEleitoral{
	background: #fff;
	 
}

.container-instructions{
	margin-left: 2%;
	padding: 2%;
}

hr{
	padding: 1.5px;
	background: #000;
}

.foto-candidato{	 
	border: 1px solid #000;
}

.campo-text{
	width: 40px;
	height: 40px; 
}
 
.justica{
	color: #000;
	font-size: 30px;
	text-align: right;
	margin-top: -20%;
	font-weight: bold;
	padding: 28px;
}

.container-digitos{
	background: #000;
	width: 100%;
}

.body-digitos{
	color: #fff;
	margin-left: 25%; 
}