<!DOCTYPE html>
<html lang="br">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>#{get 'title' /}</title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <link rel="stylesheet" type="text/css" href="@{'public/css/index.css'}">
  
<body style="background: #fff">
  <audio id="demo2" src="@{'public/audios/fim.mp3'}"></audio>
  <audio id="demo1" src="@{'public/audios/inter.mp3'}"></audio>
  <p id="ipUrna"></p>  
    <div style="width: 992px">
            	<div style="width: 900px">
            	
            		<table>
		            		<img id="tela" src="http://www.tse.jus.br/hotsites/simulador2018/image/tela.jpg" width="642" height="603" border="0">
		            		<div class="tela" id="myId">
								<table>
									<thead>
										<tr>
											<th id="teste">
												Aguardando o terminal para a Votação
											</th>
										</tr>
									</thead>
									<tbody id="body-tela">
									</tbody>
								</table>
							</div>
							<tr>
			            		<img id="topo" src="http://www.tse.jus.br/hotsites/simulador2018/image/topo.jpg" width="274" height="261" border="0">
			            		<img id="ptaAcimaTopo" src="@{'/public/img/urna-img/rodape.jpg'}" width="206" height="13">
				            	<img id="ladoEsqTec" src="http://www.tse.jus.br/hotsites/simulador2018/image/ladoEsqTec.jpg" width="34" height="233" border="0" >
					            <button id="dig-1" value="1" onclick="setarValorComponents('form','dig-1')" ></button>
					            <button id="dig-2" value="2" onclick="setarValorComponents('form','dig-2')"></button>
					            <button id="dig-3" value="3" onclick="setarValorComponents('form','dig-3')"></button>
					            <button id="dig-4" value="4" onclick="setarValorComponents('form','dig-4')"></button>
					            <button id="dig-5" value="5" onclick="setarValorComponents('form','dig-5')"></button>
				            	<button id="dig-6" value="6" onclick="setarValorComponents('form','dig-6')"></button>
					            <button id="dig-7" value="7" onclick="setarValorComponents('form','dig-7')"></button>
					            <button id="dig-8" value="8" onclick="setarValorComponents('form','dig-8')"></button>
					            <button id="dig-9" value="9" onclick="setarValorComponents('form','dig-9')"></button>
					            <button id="dig-0" value="0" onclick="setarValorComponents('form','dig-0')"></button>
					            <img id="ptabaixo7" src="http://www.tse.jus.br/hotsites/simulador2018/image/ptabaixo7.jpg" width="73" height="57" border="0">
					            <img id="ptabaixo9" src="http://www.tse.jus.br/hotsites/simulador2018/image/ptabaixo9.jpg" width="57" height="43" border="0">
					            <button id="branco" src="http://www.tse.jus.br/hotsites/simulador2018/image/branco.jpg" width="63" height="41" border="0"></button>
					            <button id="corrige" src="http://www.tse.jus.br/hotsites/simulador2018/image/corrige.jpg" width="63" height="45" border="0"></button>
					           	<button id="confirma" src="http://www.tse.jus.br/hotsites/simulador2018/image/confirma.jpg" width="68" height="49" border="0"></button>
					            <img id="ladoDirTec" src="http://www.tse.jus.br/hotsites/simulador2018/image/ladoDirTec.jpg" width="37" height="216" border="0">
					            <img id="faixaDir" src="http://www.tse.jus.br/hotsites/simulador2018/image/faixaDir.jpg" width="55" height="512" border="0">
					            <img id="abaixoTec" src="http://www.tse.jus.br/hotsites/simulador2018/image/abaixoTec.jpg" width="324" height="40" border="0">
		            		</tr>
            		</table>
            	</div>
            	
				</div>
        
        <script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
    
     
  <!--   Core JS Files   -->
  <script src="@{'/public/js/urna.js'}"></script>
  <script src="@{'/public/js/core/jquery.min.js'}"></script>
</body>

</html>

